node_modules/
dist/
dist-ssr/
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
*.keystore
!debug.keystore
*.apk
*.aab

# generowane
dev-dist/
